body {
    background-image: url("../../Assets/images/concrete_texture.png");
}

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}

.container {
    max-width: 960px;
}

.main-container {
    background-color: white;
    border: 3px;
    border-color: gray;
}

.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
}

h1 {
    display: block;
    font-size: 2em;
    height: 36px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {

    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    text-align: center;
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: block;
    line-height: 2;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

li {

}

.panel-body {
    text-align: center;
}
.bio-pic {
    float: left;
    height: 100%;
    width: 100%;

}

.small-icons {
    height: 20%;
    width: 20%;
}

.portfolio-pics {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-one {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 140px;
    background: #4aaaa5;
}

.project-two {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 140px;
    background: #4aaaa5;
}

.project-three {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 140px;
    background: #4aaaa5;
}


.project-four {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 140px;
    background: #4aaaa5;
}

.project-five {
    position: absolute;
    width: 270px;
    height: 60px;
    bottom: 20px;
    background: #4aaaa5;
}

.project-six {
    position: absolute;
    width: 270px;
    height: 60px;
    bottom: 20px;
    background: #4aaaa5;
}

.messageForm {
    height: 120px;
}

.form-control {
    width: 90%;
    margin-left: 10px;
}

label {
    margin-left: 10px;
}


.footer {
    border-top: 8px solid #4aaaa5
    background: #666
}





